{% extends "index.html" %}

{% block main %}
<form action="">
    <!-- <h1>Addition</h1> -->
    <!-- background-color: ; -->
    <style>
        body {
          background-color: lightblue;
        }
        </style>
    <h1 style="background-color:;">Addition</h1>
    <!-- p.dashed {border-style: dashed;} -->
    <p><input type="number" name="number" placeholder="Enter 1st no."></p>
    <p><input type="number" name="number" placeholder="Enter 2nd no."></p>
    <p>Result:-<input type="number" name="number"></p>
    <br>
    <input type="submit" value="ADD">

    
{% endblock %}