{% extends "index.html" %}

{% block main %}
<form action="/addition" method="post">
    <!-- <h1>Addition</h1> -->
    <!-- background-color: ; -->
    <style>
        body {
          background-color: lightblue;
        }
        </style>
    <h1 >Addition</h1>
    <!-- p.dashed {border-style: dashed;} -->
     
      <p><input type="number" name="num1" placeholder="Enter 1st no."></p>
    <p><input type="number" name="num2" placeholder="Enter 2nd no."></p>
    <p>Result: {{result}} </p>
    <br>
    <button type="submit">ADD</button>

</form>
    
    
{% endblock %}