{% extends "index.html" %}
{% block extra_css %}
    <link rel="stylesheet" href="{{ url_for('static', filename='sub.css') }}">
{% endblock %}
{% block main %}
<form action="/subtraction" id="substractionform" method="post">
    

    <h1>Subtraction</h1>
    <div class="container">
        
        
        <p><input type="number" name="num1" placeholder="Enter 1st number"></p>
        <span id="minus"><h2>-</h2></span>
        <p><input type="number" name="num2" placeholder="Enter 2nd number"></p>
         
        
        <br>
        
    </div>

    <div class="btn-container">
        <button type="submit">SUBTRACT</button>
    </div>

    <p class="result-label">Result: {{result}}</p> 
    
</form>


{% endblock %}
