{% extends "index.html" %}
{% block extra_css %}
    <link rel="stylesheet" href="{{ url_for('static', filename='sub.css') }}">
{% endblock %}
{% block main %}
<form action="/substraction:" method="post">
    

    <div class="container">
        <h1>Subtraction</h1>
        <p><input type="number" name="num1" placeholder="Enter 1st number"></p>
        <p><input type="number" name="num2" placeholder="Enter 2nd number"></p>
        <p class="result-label">Result:</p>  
        <p class="result">{{result}} </p>
        <br>
        <button type="submit">SUBTRACT</button>
    </div>
</form>


{% endblock %}
